<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${poll.question}">Poll</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="mt-4 mb-3" th:text="${poll.question}"></h2>
    <form th:action="@{/vote}" method="post">
        <input type="hidden" name="pollId" th:value="${poll.id}">
        <div class="form-group">
            <label for="options">Options:</label> <select id="options" name="optionsId" class="form-control">
            <option th:each="option  :${poll.optionList}" th:value="${option.id}" th:text="${option.desc}"></option>
        </select>
        </div>
        <button type="submit" class="btn btn-primary">Vote</button>
    </form>
</div>
<script src="https://ajax.googlepis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>